#genreBar {
    display: flex;
    border: solid;
    justify-content: space-between;
}

.genre {
    border: solid;
}

#playRandom {
    display: flex;
    justify-content: center
}


#randomDiv {
    display: flex;
    flex-direction: column;
}
.randomFeat {
    display: flex;
    justify-content: center;
}