#title {
    font-size: 60px;
}

#genreBar {
    display: flex;
    border: solid;
    justify-content:space-around;
    background-color: maroon;
}

.genre {
    font-size: 30px;
    font-family: cursive;
    color: white;
}

#playRandom {
    display: flex;
    justify-content: center
}


#randomDiv {
    display: flex;
    flex-direction: column;
}
.randomFeat {
    display: flex;
    justify-content: center;
}

.image {
    height: 250px;
    width: 250px;
}


#songFeatContainer {
    display: flex;
    flex-direction: row;
    border: solid;
    background-color: maroon;
    color: white;
}


.songFeat {
    display: flex;
    flex-direction: column;
}


/*#sideBlock {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 25%;
}*/